*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100;
    height: 100vh;
    background-color: white;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(32, 160, 235);
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(32, 160, 235);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-20%);
    text-align: left;
    color: black;
}

.content h1{
    font-size: 30px;
    margin: 20px;
    margin-top: 50px;
}


.content p{
    margin: 20px;
    text-align: justify;
    letter-spacing: 2px;
    word-spacing: 5px;
    white-space: nowrap;
    font-size: 20;
    line-height: 250%;
}

button{
    width: 130px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid rgb(32, 160, 235);
    background: rgb(32, 160, 235);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: rgb(32, 160, 235);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.img{
    display: flex;
    margin-left: auto;
    margin-right: 76px;
    width: 30%;
    height: 70%;
    float: right;
    border-radius: 15px;
}

h2{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}

.str{
    display: flex;
    margin: 10px;
    height: 10%;
    margin-top: 0;
    margin-bottom: 60px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: right;
    width: 150%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    
  }

  .row {
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
    
  }
  
  .column {
    flex: 50%;
    padding: 2px;
    justify-content: space-between;
  }

  .content h3{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 200px;
  }

  .content h3 p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    letter-spacing: 2px;
    word-spacing: 5px;
    white-space: nowrap;
    font-size: 20;
    line-height: 250%;
    margin-top: 40px;
  }

  .chr{
    display: flex;
    margin-left: 20px;
    margin-right: 0 30px;
    width: 92%;
    height: 450px;
    float: auto;
    border-radius: 15px;
    margin-bottom: 25px;
  }

 .cross{
    width: 60px;
    height: 60px;
    float:inline-start;
    margin: 0px 0px 0px 0px;
  }

  h4{
    font-size: 30px;
    margin-left: 17px;
    margin-top: 0;
    
  }

  .content h4 p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    letter-spacing: 2px;
    word-spacing: 5px;
    white-space: nowrap;
    font-size: 20;
    line-height: 250%;
  }

  * {
    padding: o;
    margin: 0;
  }

.container2 {
    margin: 10px 20px;
    color: black;
  } 

  .heading{
    font-size: 60px;
    color: black;
  }

 .profiles{
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
    float: left;
    margin-left: 130px;
    margin-right: 80px;
 }

 .profile{
    flex-basis: 260px;
 }

 .profile .profile-img{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
 }

 .profile:hover .profile-img{
    filter: grayscale(0);
 }

 .user-name {
    margin-top: 30px;
    font-size: 35px;
 }

 .profile h6 {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: black;
 }

 @media only screen and (max-width: 1150px){
    .profiles {
        flex-direction: column;
    }
    
 } 

 .container2 h5{
    font-size: 30px;
    text-align: center;


 }
 .profile h7{
    font-size: 15px;
    font-weight: bold;
 }